<div class="container" id="frame">

  <div class="container mb-5" id="header">
      <h1>Painoindeksilaskuri</h1>
  </div>

  <div class="container" id="content">
    <input [(ngModel)]="pituus" type="number" class="form-control mt-3" placeholder="Pituus senttimetreissä"> 
    <input [(ngModel)]="paino" type="number" class="form-control mt-3" placeholder="Paino kiloissa"> 
    
    <div class="container" id="buttonbox">
      <button (click)="tarkastaSyote()" class="btn btn-primary mt-3">Laske painoindeksi</button>
    </div>

    <div class="container" *ngIf="!virhe">
      <div class="alert alert-success mt-3" *ngIf="pyoristettuIndeksi">
        <h4>Painoindeksi on: <br>{{ pyoristettuIndeksi }}</h4>
      </div>
    
      <div class="alert {{tyyli}} mt-3" *ngIf="kuvaus">
        <h4>Painoindeksin luokitus: <br>{{ kuvaus }} </h4>
      </div>
    </div>

    <div class="alert alert-danger mt-3" *ngIf="virhe">
      <h5>{{ virhe }}</h5>
    </div>
  </div>


  <div class="container mt-5" id="footer">
      Ville Johannes Pajala © 2019  
  </div>

</div>


  