
    <label class="radio-inline ml-3 mt-2">
            <% if (lomaketiedot.kriteeri == kriteeri) {%>
                <input type="radio" name="kriteeri" value="<%=kriteeri%>" checked> 
            <% } else { %>
                <input type="radio" name="kriteeri" value="<%=kriteeri%>"> 
            <% } %>
        
            &nbsp<%=kriteeri%>
    </label>


    




