
<!DOCTYPE html>
<html>
    <head> 
        <title>LeffaINFO</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        <script src="//cdn.ckeditor.com/4.11.1/basic/ckeditor.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Lalezar|Mogra|Titillium+Web" rel="stylesheet">
        <base href="/">
        <link href="css/styles.css" media="all" rel="stylesheet" type="text/css"/>     
    </head>

    <body>

        <div class="container" id="kehys">
            <div class="container" id="header">
                <h1 class="mb-3">LeffaINFO</h1>
            </div>
            
            <div class="container" id="otsikko">
                    <h2 class="mb-3">Elokuvahaku</h2>
            </div>
            



