<%- include("includes/header"); -%>

        <br>
        <br>
        
        <div id="viesti" class="container">
            <h3>Teksti julkaistu!</h3>
            <br>
            <a href="/yllapito" class="btn btn-primary">Kirjoita uusi teksti</a>
            <a href="/" class="btn btn-primary">lue blogia</a>
            <br>
            <br>
        </div>
    </div>


<%- include("includes/footer"); -%>


